{% block stylesheets %}
    <link href="{{ asset('css/navBar.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
   
{% endblock %}


<nav id="menu">
    <ul>
        <li>
            <a class="nav-link" href="{{ path('accueil') }}">

            <span id="icon">
                <i class="fa-solid fa-house-user"></i>
            </span>

            Accueil
            </a>
        </li>

        <li>
            <a class="nav-link" href="{{ path('listing') }}">
            
            <span id="icon">
                <i class="fa-solid fa-clapperboard"></i>
            </span>

            Films
            </a>
        </li>

        <li>
            <a class="nav-link" href="{{ path('seance_index') }}">
            
            <span id="icon">
                <i class="fa-solid fa-masks-theater"></i>
            </span>

            Séances
            </a>
        </li>
    </ul>
</nav>